$site-hero-height: 65vh;

.site-hero {
  background: url('../images/hero_sample.png') top right no-repeat;
  height: $site-hero-height;
  max-height: 500px;
  background-size: cover;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }

  .grid-container,
  &__inner {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    height: 100%;
  }
  &__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .swiper-pagination {
      text-align: right;
      position: static;
      .swiper-pagination-bullet {
        background:$white;
        opacity: 1;
        width: 12px;
        height: 12px;
        margin-left: 5px ;
        &-active {
          background:$secondary-color;
        }
      }
    }

  }
}

.site-hero-content {
  color: $white;
  padding-top: 70px;
  h1 {
      color: $white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 5vw;  
      padding: 0 1rem;
    
      @include breakpoint(540px) {
        font-size: 27px;      
      }
      @include breakpoint(large) {
        font-size: 32px;      
      }
  }

  .button {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 1em;
    margin-left: 1rem;
  }

  @media screen and (min-width: 40em) {
  }
}

